82.165.238.8.sslip.io {
  encode gzip zstd

  @api path /api/*
  handle @api {
    reverse_proxy backend:3000
  }

  @socket path /socket.io/*
  handle @socket {
    reverse_proxy backend:3000
  }

  handle {
    root * /usr/share/caddy
    try_files {path} /index.html
    file_server
  }
}
